extends layout

block content
  h1= title

  form(method='POST' action='/info/frm')
    .form-group
      label(for='email') Email address
      input.form-control(id='email' name='email' type='email' aria-describedby='emailHelp' placeholder='Enter email')
      small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
    .form-group
      label(for='password') Password
      input.form-control(id='password' name='password' type='password' placeholder='Password')
    .form-check
      input.form-check-input(id='rememberme' name='rememberme' type='checkbox')
      label.form-check-label(for='rememberme') Remember me
    .form-group.bump-down
      button.btn.btn-primary(type='submit') Submit